.root {
    -fx-background-color: linear-gradient(to bottom, #e6f0fa, #cbdff1);
    -fx-font-family: "Segoe UI", sans-serif;
    -fx-font-size: 14px;
}

.label {
    -fx-text-fill: #0d3c61;
    -fx-font-weight: bold;
}

.text-field, .text-area, .date-picker {
    -fx-background-color: #ffffff;
    -fx-border-color: #5fa3d4;
    -fx-border-radius: 5;
    -fx-background-radius: 5;
    -fx-padding: 5 10 5 10;
    -fx-font-size: 13px;
}

.button {
    -fx-background-color: #5fa3d4;
    -fx-text-fill: white;
    -fx-font-weight: bold;
    -fx-background-radius: 5;
    -fx-cursor: hand;
}

.button:hover {
    -fx-background-color: #417cb8;
}
